
.container-logo{
    width: 40px;
    height: 40px;
}

.container-jumbotron{
background-color:#7CBCB8 ;
}

.img-testimonial{
    width: 50px;
    height: 50px;
}

.Testimonial-container{
    background-color: #7CBCB8;
}

.footer-container{
    background-color: #7CBCB8;
}